body {
  background-color: #84a59d;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: #f5cac3,
}

.card-title, .card-text {
  color: #84a59d;
}

.card-thumbnail{
  max-width: 400px; 
  min-width: 100px;
  width: 60%;
  /* display: inline-flex;
  min-width: 10%;
  max-width: 30%; */
}

.card-detail {
  max-width: 500px;
}

.nav-item-custom{
  font-size: 1.2rem;
}

.nav-item-custom:hover{
  color: #f5cac3;
}

.form-label{
  color: #84a59d;
}

/* .custom-banner{
  max-height:
} */

.debug{
  background-color: red;
}