body {
  background-color: #84a59d;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover{
  color: #f5cac3,
}

.card-title, .card-text {
  color: #84a59d;
}

.card-thumbnail{
  max-width: 300px; 
  min-width: 100px;
}

.card-detail {
  max-width: 500px;
}

.nav-item-custom{
  font-size: 1.2rem;
}

.nav-item-custom:hover{
  color: #f5cac3;
  transition: 0.1s ease-in;
}

.form-label{
  color: #84a59d;
}

.hover-effect:hover{
  background-color: #f5cac3;
  transition: 0.1s ease-in;
} 

.entry-title{
  font-size: 2.5rem;
}

.entry-text{
  font-size: 1.7em;
}

.loading{
  border: 20px solid #f5cac3;
  border-top: 20px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: beachball 1s linear infinite;
}
@keyframes beachball {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
